*.txt
*.Rproj
.Rhistory
*.DS_Store

Slides_textanalyses
Example_Data
.Rproj.user
.DS_Store
sessions/day2_webdata/scraping_exercise/scripts/CREC-2022-12-14_1.png
sessions/day2_webdata/scraping_exercise/scripts/CREC-2022-12-14_10.png
sessions/day2_webdata/scraping_exercise/scripts/CREC-2022-12-14_11.png
sessions/day2_webdata/scraping_exercise/scripts/CREC-2022-12-14_12.png
sessions/day2_webdata/scraping_exercise/scripts/CREC-2022-12-14_13.png
sessions/day2_webdata/scraping_exercise/scripts/CREC-2022-12-14_14.png
sessions/day2_webdata/scraping_exercise/scripts/CREC-2022-12-14_15.png
sessions/day2_webdata/scraping_exercise/scripts/CREC-2022-12-14_16.png
sessions/day2_webdata/scraping_exercise/scripts/CREC-2022-12-14_17.png
sessions/day2_webdata/scraping_exercise/scripts/CREC-2022-12-14_18.png
sessions/day2_webdata/scraping_exercise/scripts/CREC-2022-12-14_19.png
sessions/day2_webdata/scraping_exercise/scripts/CREC-2022-12-14_2.png
sessions/day2_webdata/scraping_exercise/scripts/CREC-2022-12-14_20.png
sessions/day2_webdata/scraping_exercise/scripts/CREC-2022-12-14_21.png
sessions/day2_webdata/scraping_exercise/scripts/CREC-2022-12-14_22.png
sessions/day2_webdata/scraping_exercise/scripts/CREC-2022-12-14_23.png
sessions/day2_webdata/scraping_exercise/scripts/CREC-2022-12-14_24.png
sessions/day2_webdata/scraping_exercise/scripts/CREC-2022-12-14_25.png
sessions/day2_webdata/scraping_exercise/scripts/CREC-2022-12-14_26.png
sessions/day2_webdata/scraping_exercise/scripts/CREC-2022-12-14_27.png
sessions/day2_webdata/scraping_exercise/scripts/CREC-2022-12-14_28.png
sessions/day2_webdata/scraping_exercise/scripts/CREC-2022-12-14_29.png
sessions/day2_webdata/scraping_exercise/scripts/CREC-2022-12-14_3.png
sessions/day2_webdata/scraping_exercise/scripts/CREC-2022-12-14_30.png
sessions/day2_webdata/scraping_exercise/scripts/CREC-2022-12-14_31.png
sessions/day2_webdata/scraping_exercise/scripts/CREC-2022-12-14_32.png
sessions/day2_webdata/scraping_exercise/scripts/CREC-2022-12-14_33.png
sessions/day2_webdata/scraping_exercise/scripts/CREC-2022-12-14_34.png
sessions/day2_webdata/scraping_exercise/scripts/CREC-2022-12-14_35.png
sessions/day2_webdata/scraping_exercise/scripts/CREC-2022-12-14_36.png
sessions/day2_webdata/scraping_exercise/scripts/CREC-2022-12-14_37.png
sessions/day2_webdata/scraping_exercise/scripts/CREC-2022-12-14_38.png
sessions/day2_webdata/scraping_exercise/scripts/CREC-2022-12-14_39.png
sessions/day2_webdata/scraping_exercise/scripts/CREC-2022-12-14_40.png
sessions/day2_webdata/scraping_exercise/scripts/CREC-2022-12-14_41.png
sessions/day2_webdata/scraping_exercise/scripts/CREC-2022-12-14_42.png
sessions/day2_webdata/scraping_exercise/scripts/CREC-2022-12-14_43.png
sessions/day2_webdata/scraping_exercise/scripts/CREC-2022-12-14_44.png
sessions/day2_webdata/scraping_exercise/scripts/CREC-2022-12-14_45.png
sessions/day2_webdata/scraping_exercise/scripts/CREC-2022-12-14_46.png
sessions/day2_webdata/scraping_exercise/scripts/CREC-2022-12-14_47.png
sessions/day2_webdata/scraping_exercise/scripts/CREC-2022-12-14_5.png
sessions/day2_webdata/scraping_exercise/scripts/CREC-2022-12-14_6.png
sessions/day2_webdata/scraping_exercise/scripts/CREC-2022-12-14_7.png
sessions/day2_webdata/scraping_exercise/scripts/CREC-2022-12-14_8.png
sessions/day2_webdata/scraping_exercise/scripts/CREC-2022-12-14_9.png
sessions/day2_webdata/scraping_exercise/scripts/pdf/CREC-2023-05-17.pdf
